# on cluster:
# module load python/3.11
# python3 -m venv pyenv
# source pyenv/bin/activate
# pip install -U setuptools
# then install packages below

certifi==2025.11.12
cftime==1.6.5
netCDF4==1.7.3
numpy==2.2.6
